:root {
  --active-item: #545050;
  --white: #fff;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--white);
  background-color: #1b1919;

  display: flex;
  justify-content: center;
  column-gap: 30px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  /* ошибка 'The property clip is deprecated', не правила, тк код дан в Практикуме */
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  white-space: nowrap;

  margin: 0;
} 

.content {
  display: flex;
  column-gap: 30px;
  justify-content: center;

  align-self: center;

}

/* Основной блок с видео */

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 711px;
}

.result__video-container {
  max-height: 386px;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.result__video-container .result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  grid-template-areas:
    "first-table"
    "second-table"
    "button";
  column-gap: 40px;
}

.button {
  height: 34px;
  width: 98%;
  margin: 2px;

  border: 1px solid var(--white);
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  
  font: inherit;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: end;
  background-color: transparent;
  color: inherit;

  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;

  cursor: pointer;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: end;
}

.search-form__label {
  display: flex;
}

.search-form__label-text {
  margin-right: 2px;
}

.search-form__label > span:first-child {
  margin: 0 5px;
}

.search-form__fieldset:first-child > .search-form__label {
  flex-direction: row-reverse;
}

.search-form__label:has(:focus-visible) .search-form__textfield:not('input') {
  border-top: none;
  border-bottom: none;
}

.search-form__fieldset:not(:first-child) .search-form__label:hover {
  text-decoration: underline var(--white);
}

.search-form__fieldset-title {
  font: inherit;
  line-height: normal;
}

.search-form__textfield {
  background-color: transparent;
  /* Изменено на белый по желанию ревьюера */
  color: var(--white);
  border: unset;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  min-width: 96%;

  /* Снова изменён на цвет, указанный в макете, по желанию ревьюера */
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.search-form__textfield:focus-visible {
  outline: 1px solid var(--white);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid var(--white);
}

.search-form__checkbox-list .search-form__label {
  cursor: pointer;
}

/* Блок с картинками */

.content__details {
  width: 100%;
  height: 100%;
}

.content__details > .title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

  margin-bottom: 26px;
}

.content__accent {
  color: var(--active-item);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 298px;
  width: 399px;
  overflow: auto;
  scrollbar-width: none;
}

.content__list > li {
  min-height: 107px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase; 
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__video-card-description {
  line-height: 16.2px;

  font: inherit;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 16.2px; /* 90% */ 
}


.content__card-link {
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background-color: var(--active-item);
}

.content__card-link:hover .content__video-card-title {
  text-decoration: 2px underline var(--white);
  text-underline-offset: 3px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: 1px underline var(--white);
}

.content__card-link:hover .content__video-card-title::after {
  text-decoration: 1px underline var(--white);
  text-underline-offset: 1px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: var(--active-item);
}

.content__card-link:focus-visible {
  outline: 1px solid var(--white);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  display: block;
  object-fit: cover;
}

/* Я не могу удалить эо обращение - в противном случае у меня отображаются полосы прокрутки */
/* Такое поведение возникает только в хроме 118 */
.content__list::-webkit-scrollbar { 
  /* Убираем скроллбар  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */ 
  width: 0; 
  height: 0; 
} 

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 27px;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  margin: 1px 4px 0 0;
  display: flex;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid var(--white);
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  outline: 6px solid var(--white);
  outline-offset: -30px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}




/* Состояния кнопок */

.more-button:focus-visible, 
.search-form__submit-button:focus-visible {
  outline: 1px double var(--white);
}

.button:focus, 
.content__card-link:focus, 
.search-form__label:focus {
  outline: none;
}

.button:active {
  background-color: var(--active-item);
}

.more-button:hover, .search-form__submit-button:hover {
  text-decoration: underline;
}

